html{
    scroll-behavior: smooth;
}
header{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}
.container{
    margin-bottom: 70px;
}
.carousel-item{
    padding:20px 40px;
}
.smartphone{
 margin-bottom: 100px;
}

.buy-now-button{
    background-color: black;
    color:white;
    border:none;
    border-radius: 5px;
    padding:5px 15px;
}

.card{
    
    border:none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}
.card-text{
    color:grey;
}

.card-footer{
    margin-top:auto;
    border-top:none;
    background-color: white;
}
.see-all{
    padding: 30px 1px;

}
.see-all h5{
    color:orangered;
}
.single{
    padding:30px 10px;
    width:150px;
    box-shadow: 5px 5px 10px lightgray;

}
.double{
    padding:30px 30px;
    width:160px;
    box-shadow: 5px 5px 10px lightgray;
    margin-top:30px;
    margin-left:60px;
}
hr{
    border: 3px solid orange;
    border-radius: 5px;
    width:80px;
}

#cart{
    width: 400px;
}

.carousel-indicators li{
    background-image: linear-gradient(orange,orangered);
    border-radius: 30px;
    border:none;
    height: 5px;
    width: 20px;
}
#middle-point{
    background-image: linear-gradient(orange,orangered);
    border-radius: 30px;
    width:8px;

}

.partners{
    display:flex;
    justify-content:center;
}

    

.client-images img{
    height:40px;
    width:40px;
    margin-right: 30px;
    filter: grayscale(100%);
    cursor: pointer;
    
}
.client-images img:hover{
    filter: grayscale(0%);
}
footer{
    background-color:rgba(32, 29, 29, 0.952);
    color:white;
    margin-top:30px;
    text-align: center;
}

